<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page <%= 4 + 5 +1 %></h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat laborum dignissimos nostrum blanditiis, quis quos accusantium inventore error alias iste earum labore quo, minima reiciendis recusandae nobis molestiae dicta et?</p>
</body>
</html>